.page-home {
    width: 100%;
}

.page-home .block-keycode {
    margin: auto;
    text-align: center;
    width: 640px;
}

.page-home .block-keycode .qrcode {
    display: block;
    height: 240px;
    margin: 20px auto;
    position: relative;
    max-width: 100%;
    width: 240px;
}

.page-home .block-keycode .qrcode img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}